@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";


@theme {
  --font-tangerine: "Tangerine", cursive;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}
html,body,#root{
  width:100%;
  height:100%;
}
main{
  width: 100%;
  height: 100%;
  border: 1px solid green;
}


.overlay{
  width: 100%;
  height: 100%;
  justify-content: center;
  background-color: indianred;

}

.strip{
  width: 100%;
  height: calc(100% / 4);
  background-color: white;

  border:1px solid black;
}